@import "tailwindcss";

@layer components {
  .heading {
    @apply uppercase tracking-wide border-b border-gray-200;
    @apply pt-0 mt-0 mb-3 min-h-28;
  }
}

@layer base {
  p, ul, ol {
    @apply mb-4;
  }
}