
@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-roboto-mono: "Roboto Mono", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} 

@import "tailwindcss";


@layer components {
  .heading {
    @apply uppercase tracking-wide border-b border-gray-200;
    @apply pt-0 mt-0 mb-3 min-h-28;
  }
}

@layer base {
  body { 
    @apply font-roboto-mono text-sm/[17px]; 
  }

  p, ul, ol {
    @apply mb-4;
  }

  a {
    @apply underline underline-offset-2;
  }

  a:hover {
    @apply decoration-2;
  }
}
