---
import type { CollectionEntry } from 'astro:content';

export interface Props {
  project: CollectionEntry<'projects'>; // full, typed entry
}

const { project } = Astro.props;
const { data, slug, body } = project;
const { Content } = await project.render();

const href = `/projects/${slug}/`;
const title = data.title;

const gallery = (data.gallery ?? []) as string[];
const cover = data.gallery[0]; // first image URL
---

<article class="border-b border-gray-200 mb-6">
  
    {cover && <img class="pb-3" src={cover} alt={title} loading="lazy" decoding="async" />}

    <div class="flex flex-wrap">
      <h2 class="w-1/2">{title}</h2>
      <div class="w-1/2 pb-3">
        <Content />
      </div>
    </div>
      
</article>

<!-- <style>
  .card { padding: 1rem; border: 1px solid #eee; border-radius: .75rem; }
  img { width: 100%; height: auto; border-radius: .5rem; display:block; }
</style> -->