---
interface Props {
  intro?: string;
  title?: string;
}
const { title = "Rachel Roller", intro="" } = Astro.props;
---

<h1 class="heading">{title}</h1>
<div>
  <nav class="space-y-1 mb-6">
    <a href="#" class="block hover:underline">Email</a>
    <a href="#" class="block hover:underline">Instagram</a>
  </nav>
  <p>{intro}</p>
</div>
