---
interface Props {
  intro?: string;
  title?: string;
}
const { title = "Rachel Roller", intro="" } = Astro.props;
---

<header>
  <h1>{title}</h1>
  <div>
    <a href="">Email</a>
    <a href="">Instagram</a>
    <p>{intro}</p>
  </div>
</header>
