---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
const entries = await getCollection('projects', ({ data }) => !data.draft);
    return entries.map((entry) => ({ params: { slug: entry.slug }, props: { entry } }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <h1 class="text-stone">{entry.data.title}</h1>

  <article>
    <!-- {entry.data.gallery?.map((i) => (
    <img src={i.src} alt="" loading="lazy" />
    ))}
    <Content /> -->
  </article>
</Layout>