---
import Layout from '../../layouts/Layout.astro';

import { getCollection } from 'astro:content';
import ProjectCard from '../../components/ProjectCard.astro';

const projects = await getCollection('projects', ({ data }) => !data.draft);
---
<Layout>
<ul class="grid">
  {projects.map(p => (
    <li>
      <ProjectCard
        title={p.data.title}
        href={`/projects/${p.slug}/`}
        summary={p.data.summary}
        gallery={p.data.gallery}
      />
    </li>
  ))}
</ul>
</Layout>